html,body{
    overflow-x: hidden;
}
body{
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    padding: 0;
    margin: 0;
}
h1{
    background: #003476;
    color: #fff;
    line-height: 60px;
    height: 60px;
    padding: 0;
    margin: 0;
    font-size: 1.4em;
}
p{
    text-transform: uppercase;
    text-decoration: underline;
}
#input_id{
    text-align: center;
    font-size: 1.2em;
    margin: 15px;
    height: 64px;
    width: 20%;
    max-width: 100%;
    color: #fff;
    background: #003476;
    border: 0;
    border-radius: 4px;
}
form{
    background: aliceblue;
}
.btn{
    display: block;
    color: #000;
    background: border-box;
    padding: 10px 10px;
    margin: 5px auto;
    font-size: 1em;
    border: 3px solid #00aeef;
    border-radius: 4px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
input:focus{
    outline: none;
}
::-webkit-input-placeholder { /* Edge */
    color:#fff;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:#fff;
}

::placeholder {
    color:#fff;
}
.headerborder {
    border: 0;
    height: 4px;
    background: linear-gradient(358.5deg,#00aeef .09%,#134a86);
}
.info.headerborder,.result.headerborder{
    display: none;
}
#infodiv,#resultdiv{
    display: inline-block;
    background: #003476;
}
#loopdiv{
    display: block;
    background: linear-gradient(358.5deg,#003476 .09%,#062041);
}
#infodiv,#resultdiv,#loopdiv{
    height: auto;
    width: 100%;
    color: #fff;
    font-size: 1.2em;
    line-height: 100px;
    text-align: center;
    transition: all 330ms ease-in-out;
}
#loopdiv span{
    display: block;
    width: 100%;
    background: aliceblue;
    font-size: 1.3em;
    border-bottom: 3px solid #00aeef;
    text-align: center; 
}
#loopdiv span h2{
    display: inline-block;
    color: black;
    background: #f0f8ff;
    width: 91px;
    height: 78px;
    line-height: 78px;
    font-size: 1em;
    border: 4px solid #003476;
    border-radius: 4px;
    text-decoration: none!important;
}
#loopdiv span p{
    display: inline-block; 
    width: 80%;
    max-width: 350px;
    color: #f0f8ff;
    background: #003476;
    border-radius: 4px;
    text-decoration: none!important;
}
#numbertext,.fibtext{
    color: #000;
    border: 1px solid #fff;
    padding: 12px 17px;
    font-size: 1.3em;
    background: aliceblue;
}
.infotext{
    width: 50%;
    height: 10px;
}
#numbertext{
    width: 50%;
}

/* media queries for mobile */
@media screen and (max-width: 50rem) {
    #loopdiv span p {
        width: max-content!important;
        padding: 0px 15px 0px 15px;
        height: 85px;
        line-height: 85px;
    }
    #resultdiv{
        line-height: 64px!important;
        height: auto;
    }
   
}

@media screen and (max-width: 320px) {
    body,#loopdiv span,#loopdiv span p,#loopdiv span h2{
        font-size: 0.8em!important;
    }
    h1{
        font-size: 1.2em!important;
    }
}

@media screen and (max-width: 430px) {
    #infodiv.mobile{
        line-height: 50px!important;
        height: 114px;
    }
}
/* Scroll to top button */

#scrolltop {
    display: inline-block;
    background-color: #003476;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 135px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
  #scrolltop::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }
  #scrolltop:hover {
    cursor: pointer;
    background-color: #333;
  }
  #scrolltop:active {
    background-color: #555;
  }
  #scrolltop.show {
    opacity: 1;
    visibility: visible;
  }